h1{
	color:red;
	text-align: center;
	font-size: 60px;
}
body{
	background-image:url("ir3.jpg");
	text-align: center;
	background-repeat: no-repeat;
	 background-position: center;
  background-attachment: scroll;
  background-size: 2000px;
 
}

